body, html {
	background-image: url(dark_matter.png);
    font-family: 'Poppins', sans-serif;
    color: white;
}
.container {
    margin: 0 auto;
    margin-bottom: 75px;
}
header {
    background-color: #2846a3;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
}
input, select {
    color: black;
    text-align: center;
}
h3 {
    color:  black;
}
#about-you {
    color: white;
}
#exampleModalLabel {
    color: black;
}
footer {
    background-color: #2846a3;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}
a {
    color: white;
}